* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

form input{
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightgray;
}

form button[type="submit"] {
    height: 40px;
    margin-top: 20px;
    border: 1px solid lightgray;
}

#wrapper h2, #output h2 {
    text-align: center;
}

#output h2 {
    margin-bottom: 10px;
}

#output div {
    font-size: 18px
}

#output {
    display: none;
    margin-left: 50px;
}

#divider {
    margin: 20px 0;
}

table, td {
    border: 1px solid #666464;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

#wrapper-task2 {
    margin-left: 10px;
}

#color-picker {
    margin-bottom: 10px;
    width: 224px;
}